* {
    margin: 0;
    padding: 1;
}

body {
    background-color: #D8C99B;
}

h1 {
    font-size: 50px;
}

p {
    text-align: left;
}

.header {
    color: #A4243B;
    font-size: 21px;
    font-weight: bolder;
}

.h1 {
  color: #BD632F;
  font-size: 50px;
  font-weight: bold;
}

.h12 {
  color: #D8973C;
  font-size: 31px;
  font-weight: bold;
}

a {
  padding: 10px;
}

div {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(216,201,155,0), rgba(216,201,160,0));
}
