* {
    margin: 1;
    padding: 1;
}

body {
    background-color: #7395AE;
}

h3 {
    font-size: 30px;
    font-family: "Bebas Neue";
    color: #DBF3FA;
}

p {
    text-align: left;
    font-size: 25px;
    font-family: "Belleza";
    color: #F5FCFF
}

.header {
    color: #F0FFFF;
    font-size: 21px;
    font-weight: bolder;
    font-family: "Bebas Neue";
}

.h1 {
  color: #7AD7F0;
  font-size: 50px;
  font-weight: bold;
  font-family: "Bebas Neue";
}

.h12 {
  color: #92DFF3;
  font-size: 31px;
  font-weight: bold;
  font-family: "Bebas Neue";
}

a {
  padding: 10px;
}
