* {
    margin: 1;
    padding: 1;
    color: #B7E9F7
}

a {
  padding: 10px;
}

a:hover {
  color: #7AD7F0;
}

a:visited {
  color: #B7E9F7
}

body {
    background-color: #7395AE;
}

h3 {
    font-size: 25px;
    font-family: "Bebas Neue";
    color: #DBF3FA;
}

p {
    text-align: left;
    font-size: 25px;
    font-family: "Belleza";
    color: #F5FCFF
}

footer {
    text-align: right;
}

.header {
    color: #F0FFFF;
    font-size: 21px;
    font-weight: bolder;
    font-family: "Bebas Neue";
}

.h1 {
  color: #CAE9F5;
  font-size: 50px;
  font-weight: bold;
  font-family: "Bebas Neue";
}

.h12 {
  color: #AFDCEB;
  font-size: 32px;
  font-weight: bolder;
  font-family: "Bebas Neue";
}

#section1 {
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    height: 50px;
}

#section2 {
    text-align: left;
    color: #B7E9F7;
    font-size: 32px;
}

#section3 {
    text-align: left;
    color: #DBF3FA;
    font-size: 25px;
}

a[title] {
    color: #F5FCFF;
    font-size: 32px;
}

tr:nth-child(even) {
    background-color: #557A95;
}

p + img {
    border: 1px solid black;
}
